extends layout

block content

    div(class="container-fluid")
        div(class="card" style="margin-top: 78px; border-radius:5rem;")
            h1(style ="margin-top: 25px; font-weight: bold; text-align: center") Detalle del Libro: #{respuesta.name}
            img(class="card-img-top" style="width: 25rem; height: 32rem; margin-top: 1rem; margin-left: 21rem" src="https://www.loqueleo.com/mx/uploads/2020/06/resized/600_captura.PNG")
            p(style="font-weight: bold; text-align: center; margin-top: 1rem; font-size: 20px") Autor: #{respuesta.author}
            p(style="font-weight: bold; text-align: center; font-size: 20px") Unidades Disponibles: #{respuesta.stock}
            p(style="font-weight: bold; text-align: center; font-size: 20px;") Estado para Prestamo: #{respuesta.state}
    br
