extends layout 

block content 
    br
    br
    br
    br
    div(class="card", style="max-width: 30rem")
        div(class="card-body")
            form(action="/upload_img/#{libro.id}", method="post", enctype="multipart/form-data") 
                div 
                    label(class="form-label") Subir imagen para el libro: #{libro.name}
                    input(type="file", class="form-control-file", id="image", name="image", accept="image/png, image/gif, image/jpeg, image/jpg")
                br
                div 
                    button(type="submit", class="btn btn-dark") Guardar imagen