extends layout 

block content 
    div(class="container-fluid")
        div(class="container" style="margin-top: 80px;")
            h1(style ="margin-top: 25px; font-weight: bold; text-align: center; margin-bottom: 2rem") Agregar Portada
            div(class="card" style="width: 50%; margin: 0 auto; border-radius: 2.5rem;")
                form(action="/upload_img/#{libro.id}" method="post" enctype="multipart/form-data" style="margin-top: 3rem") 
                    div(class="form-group")
                        label(class="form-label" style="text-align: center; margin-left: 9.7rem; margin-bottom: 2rem; font-weight: bold; font-size: 23px") Portada del libro: #{libro.name}
                        br
                        input(type="file" class="form-control" style="margin-left: 3.3rem; margin-bottom: 2rem; width:450px" 
                            id="image" name="image" accept="image/png, image/gif, image/jpeg, image/jpg" required)
                div(style="margin-top: 0.5rem; width:200px; margin: 0 auto; margin-bottom: 3rem") 
                    a(type="submit" class="boton_guardar") Guardar Imagen 
                        i(class="fa-regular fa-bookmark")