body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.galeria{
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 45rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.agregado{
  grid-column: span 2;
}